In [110]:
import numpy as np
import tensorflow as tf
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from tensorflow.keras.preprocessing.text import Tokenizer
from tensorflow.keras.preprocessing.sequence import pad_sequences
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Embedding, LSTM, GlobalMaxPool1D
from keras.layers import Bidirectional, Dropout

[0.0, 1.0, 0.0]

In [111]:
import pandas as pd

In [112]:
data_csv = pd.read_csv('/Users/lancesanterre/intern_2024/data/uncleaned/q_quora.csv')
data_csv['question1'].shape

/var/folders/l1/yvlkqw5j5rz7d708gr4_bt6m0000gn/T/ipykernel_65419/513658210.py:1: DtypeWarning: Columns (7,8,9,10,11) have mixed types. Specify dtype option on import or set low_memory=False.
  data_csv = pd.read_csv('/Users/lancesanterre/intern_2024/data/uncleaned/q_quora.csv')

(404351,)

In [114]:
data = pd.read_json('data/uncleaned/dev-v1.1.json')

In [115]:
questions = []
for entry in data["data"]:
    for paragraph in entry["paragraphs"]:
        for qa in paragraph["qas"]:
            questions.append(qa["question"])
for quest in data_csv['question1']:
    questions.append(quest)

In [117]:
df = pd.DataFrame(questions)
df

                                                        0
0       Which NFL team represented the AFC at Super Bo...
1       Which NFL team represented the NFC at Super Bo...
2                     Where did Super Bowl 50 take place?
3                       Which NFL team won Super Bowl 50?
4       What color was used to emphasize the 50th anni...
...                                                   ...
414916  How many keywords are there in the Racket prog...
414917          Do you believe there is life after death?
414918                                  What is one coin?
414919  What is the approx annual cost of living while...
414920              What is like to have sex with cousin?

[414921 rows x 1 columns]

In [118]:
df.insert(1,'labels',labels)
df.head(5)

                                                   0           labels
0  Which NFL team represented the AFC at Super Bo...  [1.0, 0.0, 0.0]
1  Which NFL team represented the NFC at Super Bo...  [1.0, 0.0, 0.0]
2                Where did Super Bowl 50 take place?  [1.0, 0.0, 0.0]
3                  Which NFL team won Super Bowl 50?  [1.0, 0.0, 0.0]
4  What color was used to emphasize the 50th anni...  [1.0, 0.0, 0.0]

In [127]:
df.to_pickle('data.pkl', compression='gzip')